<!DOCTYPE html>
<html lang="en">
<head>
  {% load sass_tags %}
    {% block header %}
        <title>Crime Reporting System</title>
    {% endblock %}

{% load static %}
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="../../static/bootstrap/css/bootstrap.css">
  <link rel="stylesheet" href="../../static/swiper/swiper-bundle.min.css">
  <link href="{% sass_src 'scss/app.scss' %}" rel="stylesheet" type="text/css" />
  <link rel="stylesheet" href="../../static/font/font-awesome.css">
  <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
  <!-- Favicon and Touch Icons  -->
  <link rel="shortcut icon" href="../../static/images/favicon.ico">
  <link rel="apple-touch-icon-precomposed" href="../../static/images/favicon.ico">
</head>
<body>


  <!-- Navbar links -->
 <body class="header-fixed inner-page about">
        <!-- preloade -->
        <div class="preload preload-container">
            <div class="preload-logo"></div>
        </div>
        <!-- /preload -->
    <div id="wrapper">
        <!-- Header -->
    <header id="header_main" class="header">
        <div class="container">
            <div id="site-header-inner">
                <div class="header__logo">
                    <a href="/home"><img src="../../static/images/final2.png" alt=""></a>
                </div>
                <nav id="main-nav" class="main-nav">
                    <ul id="menu-primary-menu" class="menu">
                        <li class="menu-item current-menu-item">
                            <a href="/home">Home</a>
                        </li>
                        <li class="menu-item ">
                            <a href="/our-team">About</a>
                        </li>
                        <li class="menu-item">
                            <a href="/blog">Blog</a>
                        </li>
                        <li class="menu-item">
                            <a href="/contact">Contact</a>
                        </li>
                    </ul>
                    
                </nav><!-- /#main-nav -->
                <div style="float:right;">
                    <!-- <a href="">Login</a> -->
                    <a href="/accounts/login/" class="tf-button btn-effect" type="submit"><span class="boder-fade"></span><span class="effect">Login</span></a>
                </div>
                
                <div class="mobile-button"><span></span></div><!-- /.mobile-button -->
            </div>
        </div>
    </header>
    <!-- end Header -->

    <section class="page-title">
       
    </section>

    <section class="tf-section tf-contact  d-flex flex-column align-items-center justify-content-center" style="background:#141A31; padding:0px 0px 300px 0;">
 
      <div class="col-xl-4 col-lg-4 col-md-12 box-text corner-box active" data-aos="fade-up" data-aos-delay="100" data-aos-duration="800" style="border: 2px solid #14C2A3;padding: 30px;">
        <h3>Login</h3>
      <form method="post" action="{% url 'accounts:login' %}" class="form-contact  d-flex flex-column justify-content-center">
        {% csrf_token %}

        <fieldset>
          <label for="username">Username:</label>
          <input class="form-control" style="padding-left:15px !important;" type="text" name="username">
      </fieldset>
      <fieldset>
        <label for="password">Password</label>
        <input class="form-control" style="padding-left:15px !important;" type="password" name="password">
          
      </fieldset>
      
        <button class="tf-button btn-effect"  type="submit"><span class="boder-fade"></span><span class="effect">Login</span></button>

  </form>
    </div>
     
    </section>

    <footer id="footer">
        
        <div class="footer-bottom">
            <div class="container">
                <div class="wrap-fx">
                    <div class="Copyright">
                        <p>CrimeChain 2022- ALL rights reserved</p>
                    </div>
                    <ul class="list">
                        <li>
                            <a href="#">Privacy Policy</a>
                        </li>
                        <li>
                            <a href="#">Cookies</a>
                        </li>
                        <li>
                            <a href="#">Terms & Conditions</a>
                        </li>
                        <li>
                            <a href="contact/">Contact Us</a>
                        </li>
                    </ul>
                </div>
            </div>
            
        </div>
    </footer>

    </div>
    <a id="scroll-top"></a>
    <script src="../../static/js/jquery.min.js"></script>
    <script src="../../static/js/app.js"></script>
    <script src="../../static/js/jquery.easing.js"></script>
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script src="../../static/js/jquery-validate.js"></script>
</body>
</html>

