<!DOCTYPE html>
<html lang="en">
<head>
    {% load sass_tags %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CrimeChain NFT Collections HTML Template</title>
    <link rel="stylesheet" href="../static/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" href="../static/swiper/swiper-bundle.min.css">
    <link href="{% sass_src 'scss/app.scss' %}" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="../static/font/font-awesome.css">
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <!-- Favicon and Touch Icons  -->
    <link rel="shortcut icon" href="../static/images/favicon.ico">
    <link rel="apple-touch-icon-precomposed" href="../static/images/favicon.ico">
</head>
<body class="header-fixed inner-page">
        <!-- preloade -->
        <div class="preload preload-container">
            <div class="preload-logo"></div>
        </div>
        <!-- /preload -->
    <div id="wrapper">
        <!-- Header -->
    <header id="header_main" class="header">
        <div class="container">
            <div id="site-header-inner">
                <div class="header__logo">
                    <a href="/home"><img src="assets/images/logo/logo.png" alt=""></a>
                </div>
                <nav id="main-nav" class="main-nav">
                    <ul id="menu-primary-menu" class="menu">
                        <li class="menu-item current-menu-item">
                            <a href="/home/">Home</a>  
                        </li>
                        <li class="menu-item ">
                            <a href="/our-team">About</a>
                        </li>
                       
                        <li class="menu-item  current-menu-item">
                            <a href="#">NFT</a>
                            <ul class="sub-menu">
                                <li class="menu-item current-item"><a href="item.html">NFT Item</a></li>
                                <li class="menu-item"><a href="item-details.html">NFT Item Details</a></li>
                            </ul>
                        </li>
                        <li class="menu-item"><a href="/blog">Blog</a></li>
                        <li class="menu-item">
                            <a href="contact/">Contact</a>
                        </li>
                    </ul>
                </nav><!-- /#main-nav -->
               
                <div class="mobile-button"><span></span></div><!-- /.mobile-button -->
            </div>
        </div>
    </header>
    <!-- end Header -->

    <section class="page-title">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                        <div class="breadcrumbs" data-aos="zoom-in" data-aos-duration="800">
                            <h3>NFT ITEM’S</h3>
                        </div>            
                </div>
            </div>
        </div>
    </section>

    <section class="tf-section tf-item">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <div class="widget widget-search" data-aos="fade-in" data-aos-duration="800">
                        <form action="#">
                            <input type="text" placeholder="Search" required="">
                            <button><i class="fal fa-search"></i></button>
                        </form>
                    </div>
                </div>
                <div class="col-md-8 z-index">
                    <div class="seclect-box" data-aos="fade-in" data-aos-duration="800">
                        <div class="dropdown selector-drop" id="category">
                        
                                    <a href="javascript:void(0);" class="btn-selector btn-link" data-bs-toggle="dropdown" aria-expanded="false">
                                        <span class="boder"></span>All Categories
                                    </a>
                                    <ul class="dropdown-menu dropdown-menu-right">
                                        <li class="dropdown-item active" data-toggle="modal" data-target="#delete_client">Forgotten Samurai</li>
                                        <li class="dropdown-item" data-toggle="modal" data-target="#edit_client">Star Batter</li>
                                        <li class="dropdown-item" data-toggle="modal" data-target="#edit_client">Calvary Deneral</li>
                                    </ul>
                        </div>
                        <div class="dropdown selector-drop" id="artworks">
                            <a href="javascript:void(0);" class="btn-selector btn-link" data-bs-toggle="dropdown" aria-expanded="false">
                                <span class="boder"></span>Default sorting
                            </a>
                            
                            <ul class="dropdown-menu dropdown-menu-right">
                                <li class="dropdown-item active" data-toggle="modal" data-target="#delete_client">Sort by Popularity</li>
                                <li class="dropdown-item" data-toggle="modal" data-target="#edit_client">Sort by Latest</li>
                                <li class="dropdown-item" data-toggle="modal" data-target="#edit_client">Sort by View</li>
                            </ul>
                </div>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="wrap-fx ml30-fx mt-40" data-aos="fade-up" data-aos-duration="800">
                        <div class="fl-item">
                            <div class="img-box">
                                <img src="assets/images/common/img7.jpg" alt="">
                                <div class="content">
                                 <a href="item-details.html">Taiyo Robotics</a>
                                </div>
                            </div>
                        </div>
                        <div class="fl-item">
                            <div class="img-box">
                                <img src="assets/images/common/img12.jpg" alt="">
                                <div class="content">
                                 <a href="item-details.html">Jungle Cats</a>
                                </div>
                            </div>
                        </div>
                        <div class="fl-item">
                            <div class="img-box">
                                <img src="assets/images/common/img6.jpg" alt="">
                                <div class="content">
                                 <a href="item-details.html">Jelly Beasts</a>
                                </div>
                            </div>
                        </div>
                        <div class="fl-item">
                            <div class="img-box">
                                <img src="assets/images/common/img11.jpg" alt="">
                                <div class="content">
                                 <a href="item-details.html">Grim Syndicate</a>
                                </div>
                            </div>
                        </div>
                        <div class="fl-item">
                            <div class="img-box">
                                <img src="assets/images/common/img9.jpg" alt="">
                                <div class="content">
                                 <a href="item-details.html">Portals</a>
                                </div>
                            </div>
                        </div>
                        <div class="fl-item">
                            <div class="img-box">
                                <img src="assets/images/common/img10.jpg" alt="">
                                <div class="content">
                                 <a href="item-details.html">Taiyo Robotics</a>
                                </div>
                            </div>
                        </div>
                        <div class="fl-item">
                            <div class="img-box">
                                <img src="assets/images/common/img12.jpg" alt="">
                                <div class="content">
                                 <a href="item-details.html">Pesky Penguins</a>
                                </div>
                            </div>
                        </div>
                        <div class="fl-item">
                            <div class="img-box">
                                <img src="assets/images/common/img13.jpg" alt="">
                                <div class="content">
                                 <a href="item-details.html">Aurory</a>
                                </div>
                            </div>
                        </div>
                        <div class="fl-item">
                            <div class="img-box">
                                <img src="assets/images/common/img13.jpg" alt="">
                                <div class="content">
                                 <a href="item-details.html"> CrimeChain #01</a>
                                </div>
                            </div>
                        </div>
                        <div class="fl-item">
                            <div class="img-box">
                                <img src="assets/images/common/img4.jpg" alt="">
                                <div class="content">
                                 <a href="item-details.html">Kreechures</a>
                                </div>
                            </div>
                        </div>
                        <div class="fl-item">
                            <div class="img-box">
                                <img src="assets/images/common/img5.jpg" alt="">
                                <div class="content">
                                 <a href="item-details.html">Bohemia</a>
                                </div>
                            </div>
                        </div>
                        <div class="fl-item">
                            <div class="img-box">
                                <img src="assets/images/common/img2.jpg" alt="">
                                <div class="content">
                                 <a href="item-details.html">Space Runners</a>
                                </div>
                            </div>
                        </div>
                        <div class="fl-item">
                            <div class="img-box">
                                <img src="assets/images/common/img5.jpg" alt="">
                                <div class="content">
                                 <a href="item-details.html">Botborgs</a>
                                </div>
                            </div>
                        </div>
                        <div class="fl-item">
                            <div class="img-box">
                                <img src="assets/images/common/img1.jpg" alt="">
                                <div class="content">
                                 <a href="item-details.html">Dronies</a>
                                </div>
                            </div>
                        </div>
                        <div class="fl-item">
                            <div class="img-box">
                                <img src="assets/images/common/img5.jpg" alt="">
                                <div class="content">
                                 <a href="item-details.html">Lifinity Flares</a>
                                </div>
                            </div>
                        </div>
                        <div class="fl-item">
                            <div class="img-box">
                                <img src="assets/images/common/img14.jpg" alt="">
                                <div class="content">
                                 <a href="item-details.html">Stylish Studs</a>
                                </div>
                            </div>
                        </div>
                        <div class="fl-item">
                            <div class="img-box">
                                <img src="assets/images/common/img7.jpg" alt="">
                                <div class="content">
                                 <a href="item-details.html">Mindfolk</a>
                                </div>
                            </div>
                        </div>
                        <div class="fl-item">
                            <div class="img-box">
                                <img src="assets/images/common/img12.jpg" alt="">
                                <div class="content">
                                 <a href="item-details.html">Moshiheads</a>
                                </div>
                            </div>
                        </div>
                        <div class="fl-item">
                            <div class="img-box">
                                <img src="assets/images/common/img6.jpg" alt="">
                                <div class="content">
                                 <a href="item-details.html">BONEWORLD</a>
                                </div>
                            </div>
                        </div>
                        <div class="fl-item">
                            <div class="img-box">
                                <img src="assets/images/common/img7.jpg" alt="">
                                <div class="content">
                                 <a href="item-details.html">Taiyo Robotics</a>
                                </div>
                            </div>
                        </div>
                        <div class="fl-item">
                            <div class="img-box">
                                <img src="assets/images/common/img12.jpg" alt="">
                                <div class="content">
                                 <a href="item-details.html">Jungle Cats</a>
                                </div>
                            </div>
                        </div>
                        <div class="fl-item">
                            <div class="img-box">
                                <img src="assets/images/common/img6.jpg" alt="">
                                <div class="content">
                                 <a href="item-details.html">Jelly Beasts</a>
                                </div>
                            </div>
                        </div>
                        <div class="fl-item">
                            <div class="img-box">
                                <img src="assets/images/common/img11.jpg" alt="">
                                <div class="content">
                                 <a href="item-details.html">Grim Syndicate</a>
                                </div>
                            </div>
                        </div>
                        <div class="fl-item">
                            <div class="img-box">
                                <img src="assets/images/common/img9.jpg" alt="">
                                <div class="content">
                                 <a href="item-details.html">Portals</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="btn-about center m-t16" data-aos="fade-up" data-aos-delay="300" data-aos-duration="800">
                        <a class="tf-button btn-effect loadmore st2" href="#" id="loadmore">   
                            <span class="boder-fade"></span>                                     
                            <span class="effect">Load More</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <footer id="footer">
        
        <div class="footer-bottom">
            <div class="container">
                <div class="wrap-fx">
                    <div class="Copyright">
                        <p>CrimeChain 2022- ALL rights reserved</p>
                    </div>
                    <ul class="list">
                        <li>
                            <a href="#">Privacy Policy</a>
                        </li>
                        <li>
                            <a href="#">Cookies</a>
                        </li>
                        <li>
                            <a href="#">Terms & Conditions</a>
                        </li>
                        <li>
                            <a href="contact/">Contact Us</a>
                        </li>
                    </ul>
                </div>
            </div>
            
        </div>
    </footer>

    </div>
    <a id="scroll-top"></a>
    <script src="../static/js/jquery.min.js"></script>
    <script src="static/js/bootstrap.bundle.min.js"></script>
    <script src="../static/js/app.js"></script>
    <script src="../static/js/jquery.easing.js"></script>
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
</body>
</html>